<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/index.css') }}" />
</head>
<body>
    <div id="speechContainer">
        <h1>Upload New File</h1>
        <form method= "POST" enctype= multipart/form-data>
            <input type= "file" name="file" />
            <br>
            <input type="submit" id= "submitButton" value="Transcribe" />
        </form>
        {% if Transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p id="speechText">{{transcript}}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>